/* Шапка */
.page-header {
  position: relative;
  z-index: 5;

  min-height: 50px;
  padding: 20px;

  color: white;

/*background-image:
    linear-gradient(45deg, #34495e 25%, transparent 25%),
    linear-gradient(-45deg, #34495e 25%, transparent 25%),
    linear-gradient(135deg, #34495e 25%, transparent 25%),
    linear-gradient(-135deg, #34495e 25%, transparent 25%);
  background-position: 10px 0, 10px 0, 0 0, 0 0;
  background-size: 20px 20px;*/
  box-shadow: 0 0 5px 0 #333333;
}
.logo {
  position: absolute;
  top: 10px;
  left: 20px;

  margin: 0;
}
.main-menu ul {
  margin: 20px;
  margin-left: 300px;
  padding: 0;

  list-style: none;
}

.main-menu li {
  display: inline-block;
  margin-right: 1em;
}

.main-menu a {
  color: black;
}